*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #dddbd1;
    background-image: linear-gradient(180deg,#dddbd1,#d2dbdc);
    /* background-image: url('src/example.png');
    background-repeat: no-repeat;
    background-size: cover; */
}

.header{
    width: 100%;
    height: 127px;
    background-color: #009688;
}

.main{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 100; */
}
.main-screen{
    width: 92%;
    height: 95%;
    display: flex;
    background-color: white;
}

.chat-list{
    height: 100%;
    width: 30%;
    background-color: #ededed;
}

.chat-screen{
    height: 100%;
    width: 70%;
    background-color: #f9f9fa;
}
