*{
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    padding: 0;
    margin: 0;
	/* DISABLING SELECTION */
    -webkit-touch-callout: none;
    /*iOS Safari*/
    -webkit-user-select: none;
    /*Safari*/
    -khtml-user-select: none;
    /*Konqueror HTML*/
    -moz-user-select: none;
    /*Firefox*/
    -ms-user-select: none;
    /*Internet Explorer/Edge*/
    user-select: none;
    /* Non-prefixed version, currently 
                            supported by Chrome and Opera */
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1; 
}

:focus{
    outline: none;
}

body{
    background-color: #dddbd1;
    background-image: linear-gradient(180deg,#dddbd1,#d2dbdc);
    /* background-image: url('src/example.png');
    background-repeat: no-repeat;
    background-size: cover; */
}

.header{
    width: 100%;
    height: 127px;
    background-color: #009688;
}

.main{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 100; */
}
.main-screen{
    width: 90.8%;
    height: 95.5%;
    margin: auto;
    display: flex;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}

.chat-list{
    height: 100%;
    width: 30%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #eaeaeb;
}

.chat-list div{
    width: 100%;
    
}

.profile{
    background-color: #ededed;
    height: 8.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile img{
    cursor: pointer;
}

.profile > span > img{
    padding-right: 30px;
}

.search{
    background-color: #f6f6f6;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box{

    width: 90%;
    height: 70%;
    border-radius: 19px;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 17px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.list{
    height: 84.5%;
    overflow-x: hidden;
    overflow-y: auto;
    
}

.chat{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    height: 12.5%;
	cursor: pointer;
}

.chat>img {
    height: 55px;
    width: 55px; 
	border-radius: 50%;
}

.chat p {
    padding-left: 20px;
    font-weight: 400;
    font-size: 17px;
}

.chat:hover{
    background-color: #f5f5f5;
}

.archieve{
	height: 8%;
}

.archieve>img{
	width: 18px;
	height: 18px;
	border-radius: 0%;
	margin-left: 20px;
}

.archieve:hover{
	background-color: #fff;
}

#profile-image{
    width: 40px;
    padding-left: 15px;

}

.chat-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: #f9f9fa;
}

#div-connectphone {
    z-index: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid #4adf83;
}

/* .messagescreen {
    z-index: 50;
} */

.connecttext{
    width: 50%;
}

.connectimage {
    height: 250px;
    width: 250px;
}


.connecttext hr {
    margin: 34px 0;
}

.connecttext a {
    text-decoration: none;
    color: #40b86f;
}
.connecttext p {
    color: #8e8f8f;
}

.h1-tag {
    margin-top: 35px;
    font-weight: 1;
    color: #6d6d6e;
}

.p-tag {
    font-weight: 1;
    margin-top: 15px;
}

.unread-msg{
	height: 20px;
	background-color: #06d755;
	border-radius: 50%;
	margin-right: 10px; 
	color: #fff; 
	text-align: center;
    padding-bottom: 2px;
	
}

#chat-1{
	background-color: #fff;
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.message-box{
	background-color: #06d755;
	width: 100%;
	height: 8%;
}

.message-screen{
	width: 100%;
	height: 83.5%;
	background-color: magenta;
}

.profile-screen{
	height: 8.5%;
	width: 100%;
	background-color: yellow;
}

.name-details{
	display:flex; 
	flex-direction:column;
}

.name-details>div{
	display:flex;
	justify-content:space-between;
}

.name-details>div>p{
	font-size:14px;
	color:grey;
}

.name-details>div>div{
	display:flex;
	justify-content:flex-end;
	width:100px;
	align-items:center;
}

.name-details>div>div>div{

}